:root {
  --main-bg-color: #F9F7F7;
  --meme-purple: #9C7F9B;
  --meme-yellow: #EC9B45;
  --meme-dark: #21152B;
  --meme-blue: #808BA6;
  --meme-pink: #9B575F;
}

body {
  background-color: var(--main-bg-color);
}

.App {
  text-align: center;
}

#meme-header {
  animation-name: text_color;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes text_color {
  0%   {color:#9C7F9B;}
  25%  {color:#EC9B45;}
  50%  {color:#808BA6;}
  75% {color:#21152B;}
  100%  {color:#9B575F;}
}

.form-check-input {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked + label>img {
  box-shadow: 0 0 1px 5px var(--meme-yellow);
}

.preview-div {
  text-align: center;
}

.preview {
  position: relative;
  height: auto;
  max-width: 40vw;
}

.preview-text {
  position: absolute;
  white-space: initial;
  font: 2rem;
}

.preview-text-y-TOP {
  top: 8px;
}

.preview-text-y-MIDDLE {
  top: 50%;
  transform: translateY(-50%);
}

.preview-text-y-BOTTOM {
  bottom: 8px;
}

.preview-text-x-LEFT {
  left: 8px;
}

.preview-text-x-CENTER {
  left: 50%;
  transform: translateX(-50%);
}

.preview-text-x-RIGHT {
  right: 8px;
}

.preview-pics {
  max-width: 100%;
}

.pics {
  height: 10vh;
  weight: auto;
  box-shadow: 0 8px 6px -6px var(--meme-dark);
}

.pics-col {
  display: inline-block;
    align-content: flex-start;
}

.pics-row {
  display: block;
   overflow-x: auto;
   white-space: nowrap;
}

.btn-submit {
  background-color: var(--meme-pink);
  color: var(--main-bg-color);
}

.btn-reset {
  background-color: var(--meme-blue);
}

.meme-url {
  padding: 5px;
  background-color: var(--meme-yellow);
}

.meme-url > * {
display: inline-block;
}

.meme-url > p {
  background-color: var(--main-bg-color);
  margin: 5px;
  padding: 5px; 
  -webkit-user-select: all;  /* Chrome 49+ */
  -moz-user-select: all;     /* Firefox 43+ */
  -ms-user-select: all;      /* No support yet */
  user-select: all;          /* Likely future */
}

.spinner-meme {
  width: 3rem;
  height: 3rem;

}
