:root {
  --main-bg-color: #EFF2F1;
  --meme-purple: #9C7F9B;
  --meme-yellow: #EC9B45;
  --meme-dark: #21152B;
  --meme-blue: #808BA6;
  --meme-pink: #9B575F;
}

body {
  background-color: var(--main-bg-color);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#meme-header {
  animation-name: text_color;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

@keyframes text_color {
  0%   {color:#9C7F9B;}
  25%  {color:#EC9B45;}
  50%  {color:#808BA6;}
  75% {color:#21152B;}
  100%  {color:#9B575F;}
}

.form-check-input {
  position: absolute;
  left: -9999px;
}

input[type=radio]:checked + label>img {
  box-shadow: 0 0 4px 4px var(--meme-yellow);
}

.preview {
  position: relative;
}

.preview-text-top {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

.preview-text-bottom {
  position: absolute;
  bottom: 8px;
  left: 16px;
}

.preview-text-top {
  position: absolute;
  top: 8px;
  left: 16px;
}

.preview-pics {
  height: 40vh;
  weight: auto;
}

.pics {
  height: 20vh;
  weight: auto;
}
