.navbar-corp {
  background-color: var(--bright-green);
}

.navlogo {
  height: 2rem;
  padding-left: 1rem;
}

.nav-link:hover {
  background-color: var(--logo-color);
  color: white;
  border-radius: 4px;
}

.nav-link {
  color: white;
}

.btn-navbutton {
  background-color: var(--yellow);
  color: white;
}
