.logo {
    height: 6rem;
    width:4rem;
    justify-content: center;
    
  }
  .font{
      color:black;
      font-weight: bold;
  }
 .text{
     font-weight: bold;
 }
  card{
      background-color: burlywood ;
      align-items:right ;
  }